:root {
    --color-dark-blue: #090c1b;
    --color-mantis: #7ac142;
    --color-mantis-darker: #5a803d;
    --color-lighter-blue: #153c6b;
    --color-white: #ffffff;
    --color-black: #000000;
}

/* General Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

button, input {
    font-family: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(../images/bg-covers/sunrise.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(6px);
}

.wrapper {
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}
